server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # --- Booking Service ---
        - id: booking-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/bookings/**

        # --- Payment Service ---
        - id: payment-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/payments/**

        # --- User Service ---
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG