server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # --- BOOKING ---
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/api/bookings/**,/api/schedules/**

        # --- PAYMENT ---
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**, /api/admin/**

        # --- USER ---
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**

        # --- Service ---
        - id: service
          uri: lb://service
          predicates:
            - Path=/api/services/**, /api/specialties/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

# KẾT NỐI EUREKA
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/