server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # --- ROUTE CHO BOOKING ---
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/api/bookings/**,/api/schedules/**

        # --- ROUTE CHO PAYMENT ---
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**, /api/admin/**

        # --- ROUTE CHO USER ---
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**

        # --- ROUTE CHO CATALOG (Nếu có) ---
        - id: catalog-service
          uri: lb://catalog-service
          predicates:
            - Path=/api/catalog/**

        # --- ROUTE CHO DOCTOR (Nếu có) ---
        - id: doctor-service
          uri: lb://doctor-service
          predicates:
            - Path=/api/doctors/**
            - Path=/api/schedules/**

        # --- ROUTE CHO Service (Nếu có) ---
        - id: service
          uri: lb://service
          predicates:
            - Path=/api/services/**, /api/specialties/**, /api/crawler/**


      # --- CẤU HÌNH CORS (QUAN TRỌNG CHO FRONTEND) ---
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"   # <-- ĐÃ SỬA: Cho phép mọi nguồn (Web/App) gọi vào
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"   # <-- ĐÃ SỬA: Cho phép mọi header

# CẤU HÌNH KẾT NỐI EUREKA (BROKER)
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/